@page "/expenses"

<h3 class="header">Add your Expenses</h3>

<div class="form-container">

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="message">@message</div>
    }

    <!-- Input Fields -->
    <label for="amount">Amount:</label>
    <input type="number" class="input-box" placeholder="Enter the amount" @bind="amount" required />

    <label for="source">Source:</label>
    <input type="text" class="input-box" placeholder="Enter the source" @bind="source" required />

    <label for="date">Date:</label>
    <input type="date" class="input-box" @bind="date" required />

    <label for="tags">Tags:</label>
    <select class="input-box" @bind="tags">
        <option value="">-- Select a Tag --</option>
        @foreach (var tag in tagsList)
        {
            <option value="@tag">@tag</option>
        }
    </select>

    <label for="desc">Note:</label>
    <textarea class="input-box" placeholder="Enter your note" @bind="note"></textarea>

    <label for="type">Type</label>
    <select class="input-box" @bind="type">
        @foreach (var type in Enum.GetNames(typeof(ExpenseType)))
        {
            <option value="@type">@type</option>
        }
    </select>

    <button class="add-expense-btn" @onclick="AddUserExpense">Add expense</button>
</div>

@code {
    public int amount;
    public String source;
    public DateOnly date = DateOnly.FromDateTime(DateTime.Today);
    public String tags;
    public String note;
    public ExpenseType type;

    public string message;

    TagManagement tagManagement = new TagManagement();
    private List<string> tagsList = new List<string>();
    DatabaseValueInsertion databaseValueInsertion = new DatabaseValueInsertion();

    // Method to add user expense
    public void AddUserExpense()
    {
        DatabaseExtraction databaseExtraction = new DatabaseExtraction();
        if (databaseExtraction.GetUserBalance(1) >= amount)
        {
            databaseValueInsertion.InsertExpense(amount, source, date, tags, note, type);
            databaseValueInsertion.DeductUserBalance(1, amount);
            message = "Expense recorded successfully.";
        }
        else
        {
            message = "Not enough balance.";
        }
    }

    // Method to extract tag list
    protected override void OnInitialized()
    {
        tagsList = tagManagement.GetTagList();
    }
}
